[submodule "public"]
	path = public
	url = https://github.com/hyahiaoui/hyahiaoui.github.io.git
[submodule "themes/ghostwriter"]
	path = themes/ghostwriter
	url = https://github.com/jbub/ghostwriter.git
